@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>
    <h1> DOWNLOAD THE OFFICIAL OLYMPICS APP TODAY</h1>
    We are proudly introducing the official Olympics app. We have packed it with features that take your Olympics experience to the next level.
    Enjoy full access to breaking news, personalized schedules, original series, and so much more.
    Scan this code or tap on the app store icons below to download the Olympics app:
</p>
<p>
    4. Functional Requirements
    User Registration:
    • Users should be able to register by providing their name, country, email address, contact number, password, interested sports including agreement on term and conditions
    -Create a registration screen and check the password strength and valid email address
    User Login and Logout:
    • Registered users should be able to log in using their email and password.
    • Users should be able to log out securely to protect their account.
    -Implement a secure authentication system for user logins and logouts.
</p>
<p>
    Broadcast Selection:
    • Users should be able to browse and select broadcasts based on their sports preferences.
    -Provide a user interface where registered users can browse and select the broadcasts they are interested in.
    • The system should allow users to view details of selected broadcasts.
    - Implement a system to store and manage user preferences for selected sports.
    Admin Panel:
    • Admin users should have a separate login to access the admin panel.
    -Create an admin interface for administrators to view user interactions, manage user accounts, and perform administrative tasks.
    • Admins should be able to view user interactions, including registrations and broadcast selections.
    - Keep logs of user interactions.
    • The admin panel should have the capability to reset user passwords if needed.
    -Include functionalities for resetting user passwords
    User Profile Management:
    • Users should have the ability to update their profile information and changing passwords.
    • A password recovery mechanism should be in place for users who forget their passwords.
    -Allow users to view and edit their profiles, including updating personal information and changing passwords.
</p>
<p>
    5. Non-functional Requirements
    User Notifications:
    • Implement email verification during registration that registration is successful.
</p>
<p>
    Security:
    • User passwords should be securely stored using encryption.
    Usability:
    • The user interface should be user-friendly and easy to navigate
    -Create an interesting user interface with readable words can be browsed easily to different web pages by the use of navigation links using various navigation link,buttons that directs the user to a different page of the application
    Performance:
    • The system should handle concurrent user registrations and logins efficiently.
    • Database queries should be optimized for quick retrieval of user information and broadcast details.
    • Short Loading Time
    Scalability:
    • The system should be designed to handle a growing number of users and broadcasts.
    - Design the system to handle a scalable number of users and broadcasts.
    • It should be scalable to accommodate potential future enhancements.
    - Optimize database queries and system components for performance
    Compatibility:
    • The system should be compatible with common web browsers and devices.
    • Responsiveness should be ensured for various screen sizes.
    • Be able to support various screen resolutions
    • Dynamically adjust the layout of a site according to the size of the screen on which it is displayed
    • Reachable from multiple browsers and load properly on all major browsers – including older versions(Internet Explorer and Chrome to Firefox and Safari)
</p>
<p>
    Testing:
    • Conduct thorough testing, including unit testing, integration testing, and user acceptance testing.
    5. Wish List
    • Implement a secure authentication system for user logins and logouts.
    • Users should have the option to register or log in using their social media accounts.
    • Include a search functionality for users to find specific broadcasts or teams.
    • Implement filters based on sports categories, countries, or broadcast types.
    • The username of a client must be only Email Address
    • Each user should access their account only
    • A user can have only one account
    • The system can allow users to share their broadcast selections on social media platforms.
    • Images and branded video, is easily distributed on platforms like Facebook, Twitter and LinkedIn with the help of add-on buttons on your website.
</p>