@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h1> DOWNLOAD THE OFFICIAL OLYMPICS APP TODAY</h1>
    We are proudly introducing the official Olympics app. We have packed it with features that take your Olympics experience to the next level.
    Enjoy full access to breaking news, personalized schedules, original series, and so much more.
    Scan this code or tap on the app store icons below to download the Olympics app:
</p>
