@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The City of Yokyo won the bid to host the next FunOlympic Games in 2023. During the build-up to the planned games in 2023, the city had invested hugely in IT infrastructure and systems to make sure that the games would have been well organised, staffed, attended, and accessible to everyone.</p>
</div>
<div>
    <h1>Scenario - Computer Systems Engineering</h1>
    The committee require you to build an online registration system for audiences to gain access to the proposed broadcast platform. The system must allow users to register, login and logout when using it, and make selections of broadcasts they wish to watch. There should also be an admin side to the system to allow an admin user to view user interactions, reset passwords etc. The public users need to provide details of their name, country, email address and which sports they are mainly interested in watching online. There is no need for them to login and provide passwords. The prototype solution must deliver the key functionality described (you will need to interview the client to derive a full requirement list), although, at this prototypical stage, the inclusion of mechanisms for securing payments is not required.
</div>
