@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FunOlympic Game Management System</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="/home/index" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Please register first!!</p>
                                @if (ViewBag.Msg != null) {
                                    <div class="alert alert-success">
                                        @ViewBag.Msg @Html.Raw(ViewBag.ActivateURL)
                                    </div>
                                }
                                <form action="/account/register" method="post">
                                    <div class="mb-3">
                                        <label for="txtUserName" class="form-label">User Name</label>
                                        <input type="text" name="UserName" class="form-control" id="txtUserName" aria-describedby="textHelp"  required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtEmail" class="form-label">Email Address</label>
                                        <input type="email" name="Email" class="form-control" id="txtEmail" aria-describedby="emailHelp" required>
                                        @Html.ValidationMessage("EmailExists", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtPasswrod" class="form-label">Password</label>
                                        <input type="password" name="Password" class="form-control" id="txtPasswrod">
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtConfirmPasswrod" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfrimPasswrod">
                                    </div>
                                      <div class="mb-4">
                                        <label for="txtDOB" class="form-label">DOB</label>
                                        <input type="date" class="form-control" id="txtDate" name="DOB">
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtConfirmPasswrod" class="form-label">Gender</label>
                                        <input type="radio" name="Gender" class="form-check" value="Female" id="rdoFemale" checked>Female
                                        <input type="radio" name="Gender" class="form-check" value="Male" id="rdoMale">Male
                                    </div>
                                    <div class="mb-4">
                                        <label for="ddlCountry" class="form-label">Country</label>
                                        <select class="form-control" name="Country">
                                          <option value="Myanmar">Myanmar</option>
                                            <option value="Japan">Japan</option>
                                      </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtAddress" class="form-label">Address</label>
                                       <textarea name="Address" cols="10" rows="5" class="form-control"></textarea>
                                    </div>
                                    <input type="submit" value="Register" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                                  
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                        <a class="text-primary fw-bold ms-2" href="/account/login">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rdoMale').click(function () {
                $("#rdoFemale").prop("checked", false);
            });
            $('#rdoFemale').click(function () {
                $("#rdoMale").prop("checked", false);
            });
        });
    </script>
</body>
</html>