@model UserViewModel
@if (!User.IsInRole("User"))
{
    Layout = "Admin/_AdminLayout";
}
@if (ViewBag.Msg != null)
{
    <b>@ViewBag.Msg </b>
}
                    <div>
                            <form action="/account/UpdatePassword" method="post">
                                <input type="text" hidden name="Id" value="@Model.Id" />                                    
                                <div class="mb-3">
                                    <label for="txtOtp" class="form-label">Email </label>
                                    <input type="text" name="Email" value="@Model.Email" readonly class="form-control"/>
                                </div>
                                <div class="mb-3">
                                    <label for="txtOtp" class="form-label">Name </label>
                                    <input type="text" name="UserName" value="@Model.UserName" readonly class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="txtOtp" class="form-label">Current Password</label>
                                    <input type="password" name="CurrentPassword" class="form-control" id="txtUserName" aria-describedby="textHelp" required>
                                </div>
                                    <div class="mb-4">
                                        <label for="txtPasswrod" class="form-label">New Password</label>
                                    <input type="password" name="NewPassword" class="form-control" id="txtPasswrod" onkeyup='passConfirm();' required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtConfirmPasswrod" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfrimPasswrod" onkeyup='passConfirm();' required>
                                        <span id="Message"></span>
                                    </div>
                                    <input type="submit" value="Change" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
        @if (!User.IsInRole("User"))
        {
            <a class="btn btn-secondary w-100 py-8 fs-4 mb-4 rounded-2" href="/adminhome/index"> Cancel</a>
        }
                                  
                            </form>
                        </div>

    <script type="text/javascript">
        var passConfirm = function () {
            if (document.getElementById("txtPasswrod").value ==
                document.getElementById("txtConfrimPasswrod").value) {
                document.getElementById("Message").style.color = "Green";
                document.getElementById("Message").innerHTML = "Passwords match!"
            } else {
                document.getElementById("Message").style.color = "Red";
                document.getElementById("Message").innerHTML = "Passwords do NOT match!"
            }
        }
    </script>