@model UserViewModel
@{
    Layout = "Admin/_AdminLayout";
}
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                            <form action="/account/UpdatePassword" method="post">
                                <input type="text" hidden name="Id" value="@Model.Id" /> 
                                   
                                <div class="mb-3">
                                    <label for="txtOtp" class="form-label">Email </label>
                                    <input type="text" name="Email" value="@Model.Email" readonly class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="txtOtp" class="form-label">Name </label>
                                    <input type="text" name="UserName" value="@Model.UserName" readonly class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="txtOtp" class="form-label">Current Password</label>
                                    <input type="password" name="CurrentPassword" class="form-control" id="txtUserName" aria-describedby="textHelp" required>
                                </div>
                                    <div class="mb-4">
                                        <label for="txtPasswrod" class="form-label">New Password</label>
                                        <input type="password" name="Password" class="form-control" id="txtPasswrod" onkeyup='passConfirm();' required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="txtConfirmPasswrod" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfrimPasswrod" onkeyup='passConfirm();' required>
                                        <span id="Message"></span>
                                    </div>
                                    <input type="submit" value="Change" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var passConfirm = function () {
            if (document.getElementById("txtPasswrod").value ==
                document.getElementById("txtConfrimPasswrod").value) {
                document.getElementById("Message").style.color = "Green";
                document.getElementById("Message").innerHTML = "Passwords match!"
            } else {
                document.getElementById("Message").style.color = "Red";
                document.getElementById("Message").innerHTML = "Passwords do NOT match!"
            }
        }
    </script>